# Standardmäßig auf npmjs.org veröffentlichen
registry=https://registry.npmjs.org/

# GitHub Packages Konfiguration nicht in der Datei speichern
# sondern nur über Kommandozeile mit dem Token

# GitHub Token nicht in der Projektdatei speichern
# sondern nur explizit beim Veröffentlichen auf GitHub angeben 