# Default registry für normale npm Befehle
registry=https://registry.npmjs.org/

# GitHub Packages Konfiguration
@contiva:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN} 