# Standardmäßig auf npmjs.org veröffentlichen
registry=https://registry.npmjs.org/

# GitHub Packages Konfiguration explizit deaktiviert
# @contiva:registry=https://npm.pkg.github.com

# GitHub Token nicht in der Projektdatei speichern
# sondern nur explizit beim Veröffentlichen auf GitHub angeben 